.top{
    margin-bottom:10px;
    width: 75px;
    height: 25px;
    background-color:#e0e0e0;
    border-radius:50px;
    text-align:center;
    font-size:17px
}
.class-list{
    background-color:#e0e0e0;
    height: 600px;
    width: 350px;
    padding:10px;
    border-radius:15px;
}
.class{
    margin:0px;
    padding:0px;
    width: 75px;
    height: 100px;
    background-color:gray;
    border-radius: 15px;
    text-align:center;
}
.font{
    padding-top:5px;
    font-size:17px;
    margin-bottom:5px;
}
.figure{
    place-self: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen-list{
    margin-top:10px;
    background-color:rgb(80, 80, 80);
    width: 370px;
    height: 30px;
    border-radius:15px;
}
.select-bottom{
    margin-top:3px;
    margin-left:5px;
    display: inline-block;
    width: 117px;
    height: 24px;
    background-color:#e0e0e0;
    border-radius: 15px;
    text-align: center;
    text-justify: center;
}
.bottom-calender{
    display: inline-block;
    width: 117px;
    height: 24px;
    background-color: #8c8c8c;
    border-radius: 15px;
    text-align: center;
}
.bottom-record{
    display: inline-block;
    width: 117px;
    height: 24px;
    background-color: #8c8c8c;
    border-radius: 15px;
    text-align: center;
}